---

interface Props {
	title: string;
	img: string;
  artist: string;
  href: string;
}

const {title, img, artist, href } = Astro.props;
---

<li class="link-card">
  <a href=`${href}` target="_blank">
    <div class="img">
      <img src=`${img}` alt=`${title}` />
    </div>
    <p class="rank">1位</p>
    <div class="body">
      <p class="title">{title}</p>
      <p class="artist">{artist}</p>
    </div>
  </a>
</li>
<style>
  .link-card{
    background: rgb(40, 40, 40);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:  calc(400/ var(--contet-width) * 100vw);
    font-weight: 900;
    border: solid 2px #000;
  }
  .img{
    display: block;
  }

  a{
    transition: filter 0.3s;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
  }
  a:hover{
    filter: brightness(1.2);
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    display: block;
  }
  p{
    margin: 0;
  }
  .rank{
    text-align: center;
    width: 100%;
    font-size: calc(48/ var(--contet-width) * 100vw);
    color: #000;
    background-color: rgb(192, 192, 192);
  }
  .body{
    padding: calc(10/ var(--contet-width) * 100vw);
    text-align: center;
    color: #fff;
    font-size: calc(40/ var(--contet-width) * 100vw);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: calc(70/ var(--contet-width) * 100vw);
  }
  .title{
    font-size: calc(64/ var(--contet-width) * 100vw);
    line-height: 1.2;
  }
  .artist{
    font-size: calc(48/ var(--contet-width) * 100vw);
    margin-top: calc(10/ var(--contet-width) * 100vw);
  }

  @media (max-width: 768px){
      .link-card{
      width: 100vw;
    }
  }
</style>
